:root {
  --one-color: #FF7C52;
  --one-color-dark: #da5531;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
  --five-color-dark: #ffdabf;

  --nunito-font: "Nunito", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --rubik-font: "Rubik", sans-serif;
  --mulish-font: "Mulish", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

.primaryBtn {
  font-family: var(--nunito-font);
  border-radius: 10px;
  background: var(--one-color);
  color: #fff;
}

.primaryBtn:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 79, 10, 0.25);
}

.primaryBtn:hover {
  background: var(--one-color-dark);
  color: #fff;
}

.secondaryBtn {
  font-family: var(--nunito-font);
  border-radius: 10px;

  background: var(--five-color);
  color: var(--one-color);
}

.secondaryBtn:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 172, 139, 0.25);
}

.secondaryBtn:hover {
  color: var(--one-color-dark);
  background-color: var(--five-color-dark);
}

.dangerBtn {
  font-family: var(--nunito-font);
  border-radius: 10px;

  background: rgb(231 65 65);
  color: #fff;
}

.dangerBtn:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 33, 33, 0.25);
}

.dangerBtn:hover {
  background: rgb(255 33 33);
  color: #fff;
}