:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;

  --nunito-font: "Nunito", sans-serif;
  --playfair-font: "Playfair Display", serif;
  --rubik-font: "Rubik", sans-serif;
  --mulish-font: "Mulish", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-size: 12px;
}

p {
  margin: 0;
}

/* Main start */
main.histories {
  font-family: var(--nunito-font);
  padding-top: 6rem !important;
  padding-bottom: 5rem;

  display: block;
}

.histories .search-filter {
  font-family: var(--poppins-font);
}

.histories .search-input, .search-btn, .select-field {
  border: 0.5px solid #C4C4C4;
  background: rgba(218, 218, 218, 0.27);

  padding: 1rem;
  border-radius: 0.5rem;
}

.histories .search-input:focus, .search-btn:focus, .select-field:focus {
  outline: none;
  box-shadow: none;
  background: rgba(218, 218, 218, 0.27);
  border-color: #C4C4C4;
}

.histories .search-field {
  width: 80%;
}

.histories  .search-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.histories .search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none ;
  color: #393939;
}

.histories  .search-icon {
  color: #393939;
  font-size: 1.5rem;
}

.histories  .select-field, .search-input::placeholder, .histories .search-input {
  color: #B8BECD;
}

.histories .dropdown-icon {
  top: 35%;
  right: 10%;
}

.histories .today-title, .histories .a-week-ago-title {
  color: #C4C4C4;
  font-weight: 600;

  font-size: 1.2rem;
}

.histories .link-list {
  border-radius: 0;
}

.histories .link-list-item {
  border: none;
  border-bottom: 0.5px solid #C4C4C4;
  padding-left: 0;

  margin-bottom: 1.5rem;
}

.histories .link-nav {
  font-size: 1.2rem;
  color: #393939;
  font-weight: 600;
}

.histories .link-nav-icon {
  color: #999999;
  font-size: 1.5rem;
}

.histories .history-item {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  width: 100%;
}

.histories .history-item.clicked {
  width: 140%;
  transition: 0.3s ease-in-out;
  
  transform: translateX(-28%);
}

.histories .desc-wrapper {
  padding-block: 1rem;
}

.histories  .desc-wrapper:hover {
  border-radius: 1rem;
  /* background: #F5F5F5; */
}

.histories .vehicle-image {
  width: 13rem;
  height: 10.5rem;
  object-fit: cover;

  border-radius: 1.5rem;
}

.histories .vehicle-name, .histories .booking-date, .histories .prepayment, .histories .return-status {
  font-size: 1.2rem;
  font-weight: bold;
  color: #393939;
}

.histories .booking-date {
  line-height: 1rem;
  margin-bottom: 1.5rem;
}

.histories .prepayment {
  margin-top: 1.5rem;
}

.histories .booking-date {
  font-weight: normal;
}

.histories .return-status {
  font-weight: normal;
  color: green;
}

.histories .delete-history-btn {
  background: var(--one-color);
  box-shadow: 0px 0px 10px var(--one-color);
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 0.5rem;

  padding: 1rem 3rem;
  /* transition: 0.3s ease-in-out; */
}

.histories .new-arrival {
  border: 1px solid #DADADA;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}

.histories .new-arrival .desc {
  max-width: 60%;
  border-radius: 0 1rem 0 0;
}

.histories .new-arrival .new-arrival-image {
  /* width: 100%; */
  min-height: 22rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.histories .view-more-link {
  font-size: 1.13rem;
  line-height: 0.5rem;
  color: #B8BECD;
}

.histories .view-more-icon {
  font-size: 3rem;
  color: #4A4C53;
}

/* Main end */

@media (min-width: 768px) {
  /* Main start */
  .histories .vehicle-image {
    width: 15rem;
  }

  .histories .history-item.clicked {
    width: 100%;
    transition: 0.3s ease-in-out;
    
    transform: translateX(-10%);
  }
  /* Main end */
}
@media (min-width: 992px) {
  html {
    font-size: 16px;
  }

  /* Main start */
  main.histories {
    padding-top: 8rem !important;
    /* padding-bottom: 7rem; */
  }

  .histories .history-item.clicked {
    width: 120%;
    transform: translateX(-12%);
  }

  /* .histories .history-wrapper {
    display: grid;
    column-gap: 5rem;
  } */

  /* .histories .search-filter, .histories .today-list-nav, .histories .a-week-ago {
    grid-column: 1 / 8;
  } */


  .a-week-ago {
    max-height: 75vh;
    overflow-y: auto;
  }
  /* Main end */
}