:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
}

html {
  font-size: 12px;
}

/* Main start */
main {
  padding: 3.125rem 0 !important;
}

main .vehicle-list {
  margin-top: 3rem;
}

main .vehicle-list a {
  color: #FB8F1D;
  text-decoration: none;

  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: normal;

  font-size: 1.065rem;
}

main .vehicle-list a .icon {
  font-size: 0.9rem;
}

main .vehicle-list h2, .testimonial h2 {
  font-family: Playfair Display, sans-serif;
  font-style: normal;
  font-weight: bold;
}

main .vehicle-list .popular-vehicles .image-wrapper {
  width: 75%;
  height: 23rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

main .vehicle-list .popular-vehicles img {
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .vehicle-list .image-desc{
  background: #FFFFFF;
  border-radius: 0 0.5rem 0 0;
  padding: 1rem 0 0 1rem;
  width: 50%;
  bottom: -1rem;
  left: -1px;
}

main .vehicle-list .image-desc h3, main .vehicle-list .image-desc p {
  font-family: Nunito, serif;
  color: #042521;
  font-style: normal;
}

main .vehicle-list .image-desc h3 {
  font-weight: bold;
  font-size: 0.95rem;
}
main .vehicle-list .image-desc p {
  font-size: 0.85rem;
}
/* Main end */

@media (min-width: 768px) {

  /* Main start */
  main {
    padding: 5.125rem 0 !important;
  }

  main .vehicle-list .image-desc {
    width: 75%;
  }
  /* Main end */
}

@media (min-width: 992px) { 
  html {
    font-size: 16px;
  }

  /* Main start */
  main {
    padding: 8.125rem 0 !important;
  }

  main .vehicle-list .head-section {
    margin-bottom: 3rem !important;
  }

  main .vehicle-list .image-desc {
    width: 50%;
  }
  /* Main end */
}
