:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
}

html {
  font-size: 12px;
}

/* Header start */
header {
  background-image: url('../../assets/img/kilarov-zaneit-nan5wYNRwhs-unsplash-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;

  color: #FFFFFF;
}

header .filter {
  padding-top: 4.6rem;
  padding-bottom: 5.2rem;

  background-color: rgba(0, 0, 0, 0.4);
}

header h1 {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 5rem;
}

header .back-nav-section a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.5rem;
}

header .back-nav-section a > svg {
  margin-right: 1rem;
  font-size: 2rem;
}

header form {
  width: 95%;
}

header form input, header form > button {
  padding: 1.5rem !important;
  border: none !important;
  border-radius: 0.65rem !important;
  width: 100%;

  font-size: 1.5rem !important;
  font-weight: 900 !important;
}

header form input[type="email"]::placeholder {
  color: #FFFFFF;
  font-weight: bold;
}

header form input[type="email"] {
  background: rgba(255, 255, 255, 0.26);
}

header form input[type="email"]:focus {
  background: rgba(255, 255, 255, 0.26);
  outline: none !important;
}

header form button.send {
  background: var(--one-color);
  box-shadow: 0px 0px 20px var(--one-color);
  color: #FFFFFF;
}

header form button.resend {
  background: #FFFFFF;
}

@media (min-width: 768px) {
  /* Header start */
  header p {
    width: 55%;
  }

  header form {
    width: 60%;
  }
  /* Header end */ 
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
  /* Header start */
  header .back-nav-section a > svg {
    margin-right: 3rem;
  }

  header p {
    width: 40%;
  }

  header form {
    width: 40%;
  }
  /* Header end */
}