.wrapper {
  /* width: 75%; */
  height: 23rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.img {
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
  object-fit: cover;
}

.desc{
  /* background: #FFFFFF;
  border-radius: 0 0.5rem 0 0;
  padding: 1rem 0.5rem 0 1rem ;
  min-width: 45%;
  bottom: -1rem;
  left: -1px; */

  background: #FFFFFF;
  bottom: 0;
  left: 0;
  min-width: 45%;

  border-radius: 0 0.6rem 0 0;
  padding: 1rem 1rem 0 2px;
}

.name {
  font-family: Nunito, serif;
  color: #042521;
  font-style: normal;

  font-weight: bold;
  font-size: 1rem;
}

.location {
  font-family: Nunito, serif;
  color: #042521;
  font-style: normal;

  font-size: 0.9rem;
}