:root {
  --one-color: #FF7C52;
  --two-color: #FFA780;
  --three-color: #E69580;
  --four-color: #DCA7A3;
  --five-color: #FFE5D2;
  --grey-input : rgb(236 236 236);
}

html {
  /* font-size: 8px; */
  font-size: 12px;
}

/* Main start */
.reservation-wrapper img {
  object-fit: cover;
  border-radius: 0.6rem;
}

.reservation-wrapper input[type="date"], .reservation-wrapper select {
  border: none;
  background: var(--grey-input);
  
  border-radius: 0.6rem;
  color: #80918E;
}

.reservation-wrapper .counter button {
  padding-inline: 1.4rem !important;
}

.reservation-wrapper input[type="date"]:focus, .reservation-wrapper select:focus {
  outline: none;
}
/* Main end */

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  main.reservation-wrapper {
    padding-top: 8rem !important;
  }
}